.container
  .row
    .span4.offset4
      .well
        %h2 Resend confirmation instructions
        = bootstrap_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
          = devise_error_messages!
          = f.email_field :email
          = f.submit "Resend confirmation instructions"
        = render "links"
