= bootstrap_form_for @source do |f|
    = f.text_field :last_name
    = f.text_field :first_name
    = f.collection_select :region_id, Region.all, :id, :name
    = f.collection_select :site_id, Site.all, :id, :name, :include_blank => true
    = f.collection_select :sector_id, Sector.all, :id, :name
    = f.text_field :phone
    = f.text_field :email
    = f.actions
