.container
  .row
    .span4.offset4
      .well
        %h2 Resend unlock instructions
        = bootstrap_form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f|
          = devise_error_messages!
          = f.email_field :email
          = f.submit "Resend unlock instructions"
        = render "links"
