:erb
  <!DOCTYPE html>
%html
  %head
    %title JackAppBase
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      .row
        .span4.offset4
          - if notice
            .alert.alert-success
              = notice
          - if alert
            .alert.alert-error
              = alert
    = yield
