:erb
  <!DOCTYPE html>
%html
  %head
    %title Peace Corps Senegal | Food Security
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container-fluid
      .navbar.navbar-fixed-top
        .navbar-inner
          .container-fluid
            .row-fluid
              .span12
                %a.brand{:href => "#{root_path}"} PC|SN Food Security
                %ul.nav
                  %li.dropdown
                    %a.dropdown-toggle{'href' => '#', 'data-toggle' => 'dropdown'}
                      Go to
                      %b.caret
                    %ul.dropdown-menu
                      %li= link_to 'Surveys', surveys_path
                      %li= link_to 'Data Sources', sources_path
                      %li= link_to 'Regions', regions_path
                      %li= link_to 'Sectors', sectors_path
                      %li= link_to 'Sites', sites_path
                  %li.dropdown
                    %a.dropdown-toggle{'href' => '#', 'data-toggle' => 'dropdown'}
                      Add
                      %b.caret
                    %ul.dropdown-menu
                      %li= link_to 'Survey', new_survey_path
                      %li= link_to 'Source', new_source_path
                      %li= link_to 'Region', new_region_path
                      %li= link_to 'Sector', new_sector_path
                      %li= link_to 'Site', new_site_path
                %ul.nav.pull-right
                  %li= link_to 'Sign in', new_user_session_path unless user_signed_in?
                  %li= link_to 'Sign up', new_user_registration_path unless user_signed_in?
                  %li= link_to "Sign out #{current_user.email}", destroy_user_session_path, :method => :delete if user_signed_in?
    .container
      .row
        .span4.offset4
          - if notice
            .alert.alert-success.center
              = notice
          - if alert
            .alert.alert-error.center
              = alert
    = yield
    .container-fluid
      .row-fluid
        .span12
          %hr
          %p Peace Corps | Senegal Food Security Data - Developed by John F. Brown
    .container-fluid
      .row-fluid
        .span12
          - if Rails.env.development?
            .span12
              = debug(params)
